.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-btn {
  padding: 15px 20px;
  margin: 20px 20px;
  /*
  margin: 20px auto;
  */

  font-size: 22px;
  text-shadow: 1px 1px magenta;
  
  background-color: lightblue;
  border: 1px solid darkblue;
  border-radius: 5px;
}

.toggle-btn:active {
  transform: scale(0.9);
}

.toggle-btn:focus {
  background-color: rgb(125, 172, 186);
}

.toggle-btn:hover {
  background-color: rgb(125, 172, 186);
}

